<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
        <!-- 아이콘 관련 링크 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
        <!-- 폰트 관련 링크 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet">
    
        <!-- 폰트 관련 링크 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- 스크롤시 등장효과 AOS -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <link rel="stylesheet" href="css/style.css">

        <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="slideWrap">
        <div class="view">
            <h2 class="room_name">Double Room</h2>
            <div class="point_btns">
                <i class="fa-solid fa-angle-left left"></i>
                <i class="fa-solid fa-angle-right right"></i>
            </div>
            <div class="circle_btns">
                <span class="on"></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="box">
                <img src="/img/rooms_f_slide01.png">
            </div>
            <div class="box">
                <img src="/img/rooms_f_slide02.png">
            </div>
            <div class="box">
                <img src="/img/rooms_f_slide03.png">
            </div>
            <div class="box">
                <img src="/img/rooms_f_slide04.png">
            </div>
            <div class="box">
                <img src="/img/rooms_slide07.png">
            </div>
        </div>
    </div>
    <div id="rooms">
        <div class="room">
            <div class="center">
                <div class="left" data-aos="fade-right" data-aos-duration="1000">
                    <h2 data-aos="fade-right" data-aos-duration="1000">Double Room</h2>
                    <div class="decor">
                        <h3>Décor</h3>
                        <p>Fusce a tempus justo. Sed quis elit non dui dapibus accumsan et quis ante. Phasellus volutpat mattis nunc eget imperdiet. Nunc pellentesque tincidunt massa, sit amet condimentum nulla mattis id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In volutpat placerat elit, ultrices dignissim enim aliquet sit amet. Ut bibendum nibh at magna venenatis, eget pharetra justo tincidunt. Phasellus nec mauris quis sem fermentum molestie.</p>
                        <p>Proin rhoncus nulla erat, nec interdum purus tempus a. Nunc orci nibh, mattis eget magna non, convallis sodales nisi. Suspendisse egestas vel justo eget pulvinar. Phasellus ullamcorper nisl ipsum, ut sollicitudin libero tincidunt et. Sed pellentesque ex ut neque sagittis aliquam. Pellentesque vel est eget libero tristique molestie sed non diam. Sed ac blandit odio, sit amet gravida magna. Suspendisse potenti. Fusce eu semper ex, id dapibus ligula. Maecenas accumsan tellus purus, id scelerisque lacus mattis nec. Vestibulum vitae pharetra urna.</p>
                    </div>
                    <div class="view">
                        <h3>The view</h3>
                        <p>Duis et metus nec urna fermentum tempor et a lacus. Integer pretium turpis mattis turpis convallis varius. Donec lectus turpis, tristique tristique mollis in, ullamcorper in ex. Nulla in ipsum et est pulvinar luctus a eu sem. Etiam non arcu eros. Suspendisse vel pretium velit, ac tincidunt purus. Curabitur dui eros, maximus nec lorem non, tincidunt iaculis lorem. Mauris eleifend imperdiet vehicula. Suspendisse sed tincidunt odio. Maecenas tempor efficitur facilisis.</p>
                    </div>
                    <div class="children">
                        <h3>Children and extra beds</h3>
                        <p>Praesent ut lacus ac magna convallis auctor ac non orci. Sed porttitor odio sit amet tellus pretium pellentesque sed sit amet felis. Aenean non aliquet lectus. Sed congue dictum arcu in bibendum. Praesent consectetur arcu quis hendrerit interdum. Nunc varius finibus nibh. Integer vulputate mi quam, ac iaculis lorem euismod at.</p>
                    </div>
                    <a href="#">CHECK NOW</a>
                </div>

                <div class="right" data-aos="fade-left" data-aos-duration="1000">
                    <h3>Amenity</h3>
                    <div class="amenity">
                        <div class="top">
                            <div class="box">
                                <i class="fa-solid fa-bed"></i>
                                <p>Twin Bed</p>
                            </div>
                            <div class="box">
                                <i class="fa-solid fa-bath"></i>
                                <p>Bathtub</p>
                            </div>
                        </div>
                        <div class="bot">
                            <div class="box">
                                <i class="fa-solid fa-tree-city"></i>
                                <p>City View</p>
                            </div>
                            <div class="box">
                                <i class="fa-solid fa-users"></i>
                                <p>1-2 Persons</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
    
    <!-- 상단 슬라이드 동작 -->
    <script src="/js/rooms_banner.js"></script>

    <!-- 스크롤시 등장효과 AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>