<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN PAGE</title>
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet">

    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- isotope -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    
    <!-- 스크롤시 등장효과 AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="main_page">
        <%- include("common/main_banner.ejs") %>
        <div class="welcome">
            <div class="center">
                <h2 data-aos="fade-up" data-aos-duration="1000">WELCOME</h2>
                <p data-aos="fade-up" data-aos-duration="1000">Welcome, to Our Hotle! Morbi at dui in tellus interdum molestie. Proin tincidunt, nisl ac consequat semper, nisi nisl tincidunt purus, nec dapibus nibh nibh a sem. Mauris eu fermentum metus. Ut ac mi commodo, auctor velit eget, pellentesque metus. Curabitur vitae libero efficitur, blandit leo sed, interdum massa. Etiam tellus orci, suscipit at malesuada eu, vestibulum malesuada diam. Quisque aliquam lorem fermentum est ullamcorper porttitor. Mauris id hendrerit dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque porta quis sem vel sodales. Nunc vitae ipsum felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas tristique tellus vel odio aliquet pharetra. Pellentesque sapien diam, viverra non consectetur in, auctor vitae nisi. Donec quam libero, laoreet at sapien quis, rhoncus efficitur nibh. Etiam suscipit turpis sem.</p>
            </div>
        </div>
        <div class="looking_for">
            <div class="center">
                <h2 data-aos="fade-right" data-aos-duration="1000">What Are You Looking For?</h2>
                <div class="context_boxs">
                    <div class="left_box"  data-aos="fade-right" data-aos-duration="1000">
                        <img src="/img/reception.jpg">
                    </div>
                    <div class="right_box"  data-aos="fade-left" data-aos-duration="1000">
                        <div class="line" data-aos="fade-left" data-aos-duration="1000" delay:0>
                            <i class="fa-solid fa-martini-glass-citrus"></i>
                            <div class="text">
                                <h3>Festival Of Prosecco</h3>
                                <p>Pellentesque consectetur lorem vel arcu sollicitudin, eget egestas dui tempus. Suspendisse a erat ultrices, ultrices nunc non, sagittis diam.</p>
                            </div>
                        </div>
                        <div class="line" data-aos="fade-left" data-aos-duration="1000" delay: 1000>
                            <i class="fa-solid fa-bed"></i>
                            <div class="text">
                                <h3>Sleep In Style</h3>
                                <p>Pellentesque consectetur lorem vel arcu sollicitudin, eget egestas dui tempus. Suspendisse a erat ultrices, ultrices nunc non, sagittis diam.</p>
                            </div>
                        </div>
                        <div class="line" data-aos="fade-left" data-aos-duration="1000" delay: 2000>
                            <i class="fa-solid fa-bell-concierge"></i>
                            <div class="text">
                                <h3>The Perfect Breakfast</h3>
                                <p>Pellentesque consectetur lorem vel arcu sollicitudin, eget egestas dui tempus. Suspendisse a erat ultrices, ultrices nunc non, sagittis diam.</p>
                            </div>
                        </div>
                        <div class="line" data-aos="fade-left" data-aos-duration="1000" delay: 3000>
                            <i class="fa-solid fa-water-ladder"></i>
                            <div class="text">
                                <h3>Swimming Pool</h3>
                                <p>Pellentesque consectetur lorem vel arcu sollicitudin, eget egestas dui tempus. Suspendisse a erat ultrices, ultrices nunc non, sagittis diam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rooms">
            <div class="center">
                <h2 data-aos="fade-right" data-aos-duration="1000">Rooms & Suites</h2>
                <div class="boxs">
                    <a href="/junior_suite">
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <img src="/img/room01.jpg" class="wide">
                            </div>
                            <div class="text_box">
                                <p class="price">150$ / NIGHT</p>
                                <h3>Junior Suite</h3>
                                <span></span>
                                <div class="hide">
                                    <div class="include">
                                        <i class="fa-solid fa-bed"></i>
                                        <i class="fa-solid fa-bath"></i>
                                        <i class="fa-solid fa-vault"></i>
                                        <i class="fa-solid fa-mug-saucer"></i>
                                    </div>
                                    <a href="/junior_suite">More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/family_room">
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <img src="/img/room02.jpg" class="wide">
                            </div>
                            <div class="text_box">
                                <p class="price">250$ / NIGHT</p>
                                <h3>Family Room</h3>
                                <span></span>
                                <div class="hide">
                                    <div class="include">
                                        <i class="fa-solid fa-bed"></i>
                                        <i class="fa-solid fa-bath"></i>
                                        <i class="fa-solid fa-vault"></i>
                                        <i class="fa-solid fa-mug-saucer"></i>
                                    </div>
                                    <a href="#">More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/double_room">
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <img src="/img/room03.jpg" class="wide">
                            </div>
                            <div class="text_box">
                                <p class="price">350$ / NIGHT</p>
                                <h3>Double Room</h3>
                                <span></span>
                                <div class="hide">
                                    <div class="include">
                                        <i class="fa-solid fa-bed"></i>
                                        <i class="fa-solid fa-bath"></i>
                                        <i class="fa-solid fa-vault"></i>
                                        <i class="fa-solid fa-mug-saucer"></i>
                                    </div>
                                    <a href="#">More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/deluxe_room">
                        <div class="box width">
                            <div class="img_box">
                                <span></span>
                                <img src="/img/room04.jpg">
                            </div>
                            <div class="text_box">
                                <p class="price">500$ / NIGHT</p>
                                <h3>Deluxe Room</h3>
                                <span></span>
                                <div class="hide">
                                    <div class="include">
                                        <i class="fa-solid fa-bed"></i>
                                        <i class="fa-solid fa-bath"></i>
                                        <i class="fa-solid fa-vault"></i>
                                        <i class="fa-solid fa-mug-saucer"></i>
                                    </div>
                                    <a href="#">More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/superior_room">
                        <div class="box width">
                            <div class="img_box">
                                <span></span>
                                <img src="/img/room05.jpg">
                            </div>
                            <div class="text_box">
                                <p class="price">200$ / NIGHT</p>
                                <h3>Superior Room</h3>
                                <span></span>
                                <div class="hide">
                                    <div class="include">
                                        <i class="fa-solid fa-bed"></i>
                                        <i class="fa-solid fa-bath"></i>
                                        <i class="fa-solid fa-vault"></i>
                                        <i class="fa-solid fa-mug-saucer"></i>
                                    </div>
                                    <a href="#">More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="facilities">
            <div class="center">
                <h2 data-aos="fade-right" data-aos-duration="1000">Hotel Facilities</h2>
                <ul class="facilitiesBtns">
                    <li data-facilities = "*" class="on">All<span></span></li>
                    <li data-facilities = ".food">food<span></span></li>
                    <li data-facilities = ".relax">relax<span></span></li>
                    <li data-facilities = ".health">health<span></span></li>
                </ul>
                <div class="boxs">
                    <div class="box food">
                        <div class="img_box">
                            <img src="/img/facilities01.png">
                        </div>
                        <div class="text_box">
                            <h3>The Restaurant</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="box relax">
                        <div class="img_box">
                            <img src="/img/facilities02.png">
                        </div>
                        <div class="text_box">
                            <h3>The Spa</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="box health">
                        <div class="img_box long">
                            <img src="/img/facilities03.png">
                        </div>
                        <div class="text_box">
                            <h3>The Pool</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="box health big">
                        <div class="img_box">
                            <img src="/img/facilities04.png">
                        </div>
                        <div class="text_box">
                            <h3>Fitness Center</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="box food relax">
                        <div class="img_box">
                            <img src="/img/facilities05.png">
                        </div>
                        <div class="text_box">
                            <h3>The Café</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="box food dark">
                        <div class="img_box">
                            <img src="/img/facilities06.png">
                        </div>
                        <div class="text_box">
                            <h3>The Bar</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="box food">
                        <div class="img_box">
                            <img src="/img/facilities07.png">
                        </div>
                        <div class="text_box">
                            <h3>The Bar</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="count">
            <div class="center" data-aos="fade-up" data-aos-duration="1000">
                <div class="left">
                    <div class="count_one">
                        <div class="icon"><i class="fa-solid fa-tags"></i></div>
                        <div class="text1 text"><span>00</span><p>Lorem ipsum dolor</p></div>
                    </div>
                    <div class="count_one">
                        <div class="icon"><i class="fa-solid fa-users"></i></div>
                        <div class="text2 text"><span>00</span><p>Lorem ipsum dolor</p></div>
                    </div>
                </div>
                <div class="right">
                    <div class="count_one">
                        <div class="icon"><i class="fa-sharp fa-solid fa-plane"></i></div>
                        <div class="text3 text"><span>00</span><p>Lorem ipsum dolor</p></div>
                    </div>
                    <div class="count_one">
                        <div class="icon"><i class="fa-solid fa-earth-americas"></i></div>
                        <div class="text4 text"><span>00</span><p>Lorem ipsum dolor</p></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="news">
            <div class="center">
                <h2 data-aos="fade-right" data-aos-duration="1000">Our News</h2>
                <div class="boxs"  data-aos="fade-left" data-aos-duration="1000">
                    <div class="btns">
                        <i class="fa-solid fa-angle-left left"></i>
                        <i class="fa-solid fa-angle-right right"></i>
                    </div>
                    <div class="view">
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <div class="date_box">
                                    <p>OCT</p>
                                    <p>08</p>
                                </div>
                                <img src="/img/news01.png">
                            </div>
                            <div class="text_box">
                                <h3>Restaurant</h3>
                                <p>Lorem ipsum dolor sit.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <div class="date_box">
                                    <p>OCT</p>
                                    <p>25</p>
                                </div>
                                <img src="/img/news02.png">
                            </div>
                            <div class="text_box">
                                <h3>Restaurant</h3>
                                <p>Lorem ipsum dolor sit.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <div class="date_box">
                                    <p>Dec</p>
                                    <p>08</p>
                                </div>
                                <img src="/img/news03.jpg">
                            </div>
                            <div class="text_box">
                                <h3>SPA</h3>
                                <p>Lorem ipsum dolor sit.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <div class="date_box">
                                    <p>Dec</p>
                                    <p>12</p>
                                </div>
                                <img src="/img/news04.jpg">
                            </div>
                            <div class="text_box">
                                <h3>Café</h3>
                                <p>Lorem ipsum dolor sit.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <div class="date_box">
                                    <p>Dec</p>
                                    <p>28</p>
                                </div>
                                <img src="/img/news05.jpg">
                            </div>
                            <div class="text_box">
                                <h3>Restaurant</h3>
                                <p>Lorem ipsum dolor sit.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <div class="date_box">
                                    <p>Dec</p>
                                    <p>28</p>
                                </div>
                                <img src="/img/news06.jpg">
                            </div>
                            <div class="text_box">
                                <h3>Room</h3>
                                <p>Lorem ipsum dolor sit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="gift">
            <span class="gift_bg"></span>
            <div class="center">
                <h2 data-aos="fade-right" data-aos-duration="1000">The Perfect Gift</h2>
                <p data-aos="fade-up" data-aos-duration="1000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit auctor euismod. Integer tempor pulvinar eleifend. Suspendisse mollis id est ac volutpat. Ut euismod a neque nec porta. Cras sodales dictum odio, at cursus sapien cursus tincidunt. In ut quam neque. Fusce varius elementum est, et molestie ipsum gravida quis. Sed ac sodales ex. Curabitur dui justo, efficitur quis elit non, sollicitudin commodo elit. Vivamus vehicula vestibulum mollis. Nullam aliquam quam metus, nec dapibus metus volutpat et. Fusce aliquam fringilla imperdiet. Nullam vitae elit nec metus vulputate posuere eget sed sapien. Aliquam sagittis tortor pulvinar egestas convallis.</p>
                <p data-aos="fade-up" data-aos-duration="1000">Duis non posuere felis, eu pretium dui. Fusce varius accumsan lectus at auctor. Aliquam a feugiat ligula. Phasellus nec vulputate magna. Sed faucibus eros sed odio suscipit, non faucibus ex commodo. Nulla facilisi. Cras in blandit nulla, a tempus risus. Aliquam accumsan dui ut metus dictum, aliquam sodales metus tempor. Nulla suscipit risus quis leo pretium, sit amet hendrerit ex efficitur. Aliquam erat volutpat. Mauris dictum, mi vitae mattis vulputate, elit mauris accumsan quam, ut venenatis dolor odio eget lectus. Nullam eu nisi eget ipsum ultrices facilisis et gravida ligula. Mauris sit amet arcu nec diam ultricies auctor euismod a tortor. Nunc ipsum odio, facilisis at sapien at, mollis maximus neque. Curabitur tincidunt nibh et hendrerit maximus. Sed tristique lobortis tellus, ac mollis lectus congue vitae.</p>
                <img src="/img/gift.jpg" data-aos="fade-up" data-aos-duration="1000">
            </div>
        </div>
        <div class="contact_us">
            <div class="center">
                <h2 data-aos="fade-right" data-aos-duration="1000">Contact Us</h2>
                <p data-aos="fade-up" data-aos-duration="1000">Duis non posuere felis, eu pretium dui. Fusce varius accumsan lectus at auctor. Aliquam a feugiat ligula. Phasellus nec vulputate magna. Sed faucibus eros sed odio suscipit, non faucibus ex commodo. Nulla facilisi. Cras in blandit nulla, a tempus risus. Aliquam accumsan dui ut metus dictum, aliquam sodales metus tempor. Nulla suscipit risus quis leo pretium, sit amet hendrerit ex efficitur. Aliquam erat volutpat. Mauris dictum, mi vitae mattis vulputate, elit mauris accumsan quam, ut venenatis dolor odio eget lectus. Nullam eu nisi eget ipsum ultrices facilisis et gravida ligula. Mauris sit amet arcu nec diam ultricies auctor euismod a tortor. Nunc ipsum odio, facilisis at sapien at, mollis maximus neque. Curabitur tincidunt nibh et hendrerit maximus. Sed tristique lobortis tellus, ac mollis lectus congue vitae.</p>
                <div class="boxs" data-aos="fade-up" data-aos-duration="1000">
                    <div class="top_line">
                        <div class="box">
                            <i class="fa-solid fa-phone"></i>
                            <p>Reservation</p>
                            <p>+82 287 - 465 - 0659</p>
                        </div>
                        <div class="box bot_box">
                            <i class="fa-regular fa-envelope"></i>
                            <p>Email Info</p>
                            <p>info@grandhotel.com</p>
                        </div>
                    </div>
                    <div class="bot_line">
                        <div class="box">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>Address</p>
                            <p>360 Harvest St, North Subract, London. United<br>States Of Amrica</p>
                        </div>
                        <div class="box bot_box">
                            <i class="fa-solid fa-earth-americas"></i>
                            <p>Web</p>
                            <p>info@luxuryhotel.com</p>
                        </div>
                    </div>
                </div>
                <div class="contact_box" data-aos="fade-up" data-aos-duration="1000">
                    <div class="top_line">
                        <input type="text" placeholder="First Name">
                        <input type="text" placeholder="Last Name">
                    </div>
                    <input type="text" placeholder="Email Address">
                    <a href="/register">Join With Us</a>
                </div>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") %>

    <!-- <script src="js/main_news.js"></script> -->
    <!-- isotope 관련 스크립트 -->
    <!-- <script src="js/isotope.pkgd.min.js"></script> -->
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/facilities.js"></script>

    <!-- 카운트 관련 스크립트 -->
    <script src="js/count.js"></script>

    <!-- gnb메뉴 이동 관련 스크립트 -->
    <script src="js/header_gnb.js"></script>
    
        <!-- 스크롤시 등장효과 AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>