<div id="header">
    <div id="top_box">
        <div class="center">
            <% if(!userData){ %>
                <div class="login_btn">
                    <a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                </div>
                <div class="register_btn">
                    <a href="/register"><i class="fa-solid fa-user"></i> Register</a>
                </div>
            <% } else { %>
                <p>안녕하세요 <%- userData.joinnick %> 님</p>
                <span></span>
                <a href="/logout">로그아웃</a>
            <% } %>
        </div>
    </div>
    <div id="bot_box">
        <div class="center">
            <h1 class="logo"><a href="/"><img src="/img/logo.png"></a></h1>
            <ul class="gnb">
                <li><a href="/insert">HOME <i class="fa-sharp fa-solid fa-caret-down"></i></a></li>
                <li><a href="/edit">ABOUT <i class="fa-sharp fa-solid fa-caret-down"></i></a></li>
                <li><a href="/brdlist">ROOMS & SUITES <i class="fa-sharp fa-solid fa-caret-down"></i></a></li>
                <li><a href="#">RESTAURANT <i class="fa-sharp fa-solid fa-caret-down"></i></a></li>
                <li><a href="#">NEWS <i class="fa-sharp fa-solid fa-caret-down"></i></a></li>
                <li><a href="#">CONTACT <i class="fa-sharp fa-solid fa-caret-down"></i></a></li>
            </ul>
        </div>
    </div>
</div>