<div id="banner" class="main_banner">
    <div class="center">
        <h2>ENJOY THE BEST MOMENT OF LIFE</h2>
        <P>The Ultimate Luxury Experience</P>
        <div class="check_box">
            <input type="date" placeholder="Check in">
            <input type="date" placeholder="Check Out">
            <select>
                <option>1 Adult</option>
                <option>2 Adult</option>
                <option>3 Adult</option>
                <option>4 Adult</option>
            </select>
            <select>
                <option>Children</option>
                <option>1 child</option>
                <option>2 Children</option>
                <option>3 Children</option>
                <option>4 Children</option>
            </select>
            <select>
                <option>1 Room</option>
                <option>2 Room</option>
                <option>3 Room</option>
                <option>4 Room</option>
            </select>
            <a href="#">CHECK NOW</a>
        </div>
    </div>
</div>