<div id="slideWrap">
    <div class="view">
        <div class="point_btns">
            <i class="fa-solid fa-angle-left left"></i>
            <i class="fa-solid fa-angle-right right"></i>
        </div>
        <div class="circle_btns">
            <span class="on"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="box">
            <img src="/img/rooms_slide06.png">
        </div>
        <div class="box">
            <img src="/img/rooms_slide04.png">
        </div>
        <div class="box">
            <img src="/img/rooms_slide03.png">
        </div>
        <div class="box">
            <img src="/img/rooms_slide02.png">
        </div>
        <div class="box">
            <img src="/img/rooms_slide01.png">
        </div>
    </div>
</div>

<script src="/js/rooms_banner.js"></script>